library {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}
.alphabet {
  display: flex;
  flex-direction: column;
}

.letter {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

/* Hidden by default */
.artist-list,
.artist-links {
  display: none;
  opacity: 0;
  margin-left: 20px;
  transition: opacity 0.4s ease;
}

/* Artists */
.artist {
  margin-top: 5px;
  cursor: pointer;
}

.artist-links {
  margin-left: 20px;
}

.artist-links a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

/* Fade-in */
.fade-in {
  display: block;
  opacity: 1;
}
