.library {
  margin: 0 auto;
  text-align: left;
}
.alphabet {
  display: flex;
  flex-direction: column;
  padding-left: 20%
}

.letter {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

Reztones {
margin-right: 25%;
}

/* Hidden by default */
.artist-list,
.artist-links {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow: hidden;
  white-space: nowrap;
}

/* Artists */
.artist {
  margin-top: 5px;
  cursor: pointer;
}

.artist-links {
  margin-left: 20px;
}

.artist-links a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

/* Fade-in */
.fade-in {
  display: block;
  opacity: 1;
  animation: fadeIn 5s;
 -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
