/* Library container */
.library {
  margin: 0 auto;
  max-width: 800px;
}

/* Alphabet column */
.alphabet {
  display: flex;
  flex-direction: column;
  padding-left: 20%; /* replaces % padding */
}

/* Letter styling */
.letter {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  text-align: left;
}

.artist-list {
display: none;
  margin-left: 24px; /* originally 20px changed to 8px now being changed to 24px for artists indented from letters */
}

/* Artist block */
.artist-entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
   max-width: 100%;
  text-align: left;
}

.artist-list.active {
  display: block;
  border-left: 1px solid rgba(0,0,0,0.15);
  padding-left: 8px;
}

/* Artist name */
.artist-name {
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-left: 0; /*aligned to artist-list*/
}

/* Artist links */
.artist-links {
 margin-left: 16px; /* originally margin-left 1.5 rem, now 16px for links indented from artist name */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.artist-links a {
  font-size: 0.9rem;
  text-decoration: none;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
